<!-- app.component.html -->

<div class="background-image">
  <div class="servicios">
    <a class="rutas" href="">Servicios</a>
    <div class="rutas">|</div>
    <a class="rutas" href="">Precios</a>
  </div>

  <!-- nombre peluqueria -->
  <div class="nombre">
    <h1 style="color: white; margin-bottom: 5px;">MUKIWA</h1>
    <h3 style="color: white; margin-top: 5px;">HAIR SALON</h3>
  </div>

  <!-- boton para reservar turnos -->
  <div class="contenedor">
    <button class="boton-agregar">
      <span class="material-symbols-outlined">arrow_right_alt</span>
      <a class="reserva-btn" href="">RESERVAR TURNO</a>
    </button>
  </div>
</div>
