@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
    display: flex;
    flex-direction: column; /* Establecer la dirección del contenedor como columna */
    height: 100%;
  }
  
  .half h1, .half h3 {
    font-family: "Amatic SC", sans-serif;
    text-align: left !important; /* Alinear los títulos a la izquierda */
    margin-left: 15px; /* Agregar un margen izquierdo para separar del borde */
  }
  
  .half h1 {
    font-size: 30px;
    position: relative;
    font-weight: bold;
  }
  
  .half h3 {
    font-size: 30px;
    position: relative;
    font-weight: bold;
  }

  .half h1::after {
    content: ''; 
    position: absolute; 
    bottom: -10px; /* Colocar la línea debajo del título */
    left: 9%; /* Alinear el centro de la línea con el centro del título */
    transform: translateX(-50%); /* Mover la línea hacia la izquierda en la mitad de su ancho */
    width: 17%; /* Ancho de la línea */
    height: 2px; /* Altura de la línea */
    background-color: #fff; /* Color de la línea */
  }
  
  .options {
    margin-top: 20px; /* Espacio superior para separar de título */
    margin-left: 20%;
    width: 80%;
  }
  
  .form-check {
    margin-bottom: 10px; /* Espacio inferior entre checkboxes */
  }
  
  .title {
    margin-bottom: 20px; /* Espacio inferior para separar los checkboxes del título */
  }
img {
    margin-top: 10px;
  }
.imagenes {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    width: 80%;
    margin-top: 15px;
  }

  .contenedor {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height:5vh; /* Establecer altura del contenedor al 100% del viewport */
}


.boton-agregar {
  font-family: "Amatic SC", sans-serif;
  border: 3.5px solid white;
  background-color: transparent;
  color: #000;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 25%;
  font-weight: bold;
}

.reserva-btn{
  text-decoration: none;
  font-size: 30px;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  color: white;
  padding: 5px;
}

.material-symbols-outlined{
  color: #fff;
}

.form-check-label{
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}
.flecha-atras{
  margin-top: 5%;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-right: 10px; /* Espacio entre el input y el label */
}
