<div class="container">
  <div class="half">
    <h1 style="color: white; margin-bottom: 5px;">TURNOS</h1>
  </div>
  <div class="half">
    <h3 style="color: white;">OPCIONES</h3>
    <div class="options">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="barbaCheck">
        <label class="form-check-label" for="barbaCheck" style="color: white;">
          Barba
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="corteBarbaCheck">
        <label class="form-check-label" for="corteBarbaCheck" style="color: white;">
          Corte y Barba
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="corteCheck">
        <label class="form-check-label" for="corteCheck" style="color: white;">
          Corte
        </label>
      </div>
    </div>
  </div>
</div>