.titulos{
    margin-top: 15px;
}

.titulos h2 {
    position: relative; /* Establecer posición relativa para que los pseudoelementos sean relativos a este elemento */
  }

.titulos h2::before,
.titulos h2::after {
  content: ''; /* Contenido vacío */
  position: absolute; /* Establecer posición absoluta */
  top: 50%; /* Alinear en la mitad verticalmente */
  width: 8%; /* Ancho del pseudoelemento */
  height: 3px; /* Altura de la línea */
  background-color: white; /* Color de la línea */
}

.titulos h2::before {
  left: -9.5%; /* Alinear al lado izquierdo */
}

.titulos h2::after {
  right: -9.5%; /* Alinear al lado derecho */
}
